body{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
	background: #fad6d2;
	color:#606060;
}

a{
	color:#000;
}

h1,h2, h3, h4, h5, h6 {
	font-family:'Verdana', Arial, sans-serif;
	font-weight:700;
	line-height:1.1em;
	color: #d81421;
	margin-bottom: 7px;
}
h3{
margin-bottom:15px;
} 

.aligncenter{
	text-align:center;
}

.aligncenter span{
	margin-left:0;
}

.faixa{
	padding:0;
	height:200px;
	background:url(../imagens/bg-faixa.png) repeat-x bottom;
}

.faixa > div{
	padding:0;
}

.faixa > div .cantos-faixa{
	margin-top:109px;
}

.menu-brunes{
	position:relative;
	top:-80px;
	z-index:1
}

.navbar.brunes{
	background:none;
	border:0;
	box-shadow:none;
	width:100%;
	padding: 0 5px 0 40px;
}
	
.navbar.brunes .navbar-header{
	background:#b14147;
}

.navbar.brunes .navbar-header .navbar-toggle{
	background:#fff;
}

.navbar.brunes ul li a{
	color:#fff;
	font-size:16px;
	padding:15px 8px;
}

.navbar.brunes ul li.active a, .navbar.brunes ul li a:hover, .navbar.brunes ul li.active a:hover, .navbar.brunes ul li.dropdown:hover a:hover, .navbar.brunes ul li.dropdown:hover a, .navbar.brunes ul li.dropdown.open:hover a, .navbar.brunes ul li.dropdown.open a{
	background:#983943;
	color:#fff;
}

.navbar.brunes .dropdown-menu{
	background:#983943;
}

.navbar.brunes .dropdown-menu li a:hover{
	background:#fff;
	color:#983943;
}
.logo-mobile img{
	max-width:140px;	
}

/*  Sliders
==================================== */
/* --- flexslider --- */
#main-slider:before {
	content: '';
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
}
.flex-direction-nav a{
	display:none;
}
.flexslider {
	padding:0;  
	background: #fff; 
	position: absolute; 
	zoom: 1;
	top:179px;
	z-index:-1;
}
.flex-direction-nav .flex-prev{
	left:0px; 
}
.flex-direction-nav .flex-next{ 
	right:0px;
}
.flex-caption {
	zoom: 1;
	bottom: 0; 
	background-color: rgba(249, 209, 204, 0.65);
	color: #fff; 
	margin: 0; 
	padding: 10px 25px; 
	position: absolute; 
	left: 0; 
	text-align: left;
	margin: 0 auto;
	right: 0px;
	display: inline;
	float: left;
	width: auto;
	text-align: center;
}
.flex-caption h3 {color: #fff; letter-spacing: 1px; margin-bottom: 8px; text-transform: uppercase;font-size: 36px;}
.flex-caption p {margin: 12px 0 18px;font-size:22px;line-height: 30px;}



section#welcome{
	margin-top:25%;
}

div.welcomeContent{
	background:#f1b6b0;
	font-size:16px;
	color:#000;
	text-align:justify;
}

div.welcomeContent .brunes{
	position:absolute;
	bottom:0px;
	text-align:center;
}

div.welcomeContent .brunes img{
	width:100%;
}


/*noticias*/
.post3 img {
	margin-bottom: 20px;
	width: 100%;
}

.post3 a:hover * {
	color: #F58A2E;
}

.post3 time .year {
	font: 700 24px/21px;
	color: #000;
}

.post3 p {
	font: 400 14px/21px "Arial", sans-serif;
	color: #000;
	text-transform: uppercase;
}

#events {
	padding: 40px 0 0;
}

/*-------Contact---------*/
.contact input{
	  background: #fff;
	  border: solid 1px #ddd;
	  color: #000;
	  padding: 0px 30px;
	  margin-right: 3%;
	  margin-bottom: 30px;
	  outline: none;
	  font-size:16px;
}

.contact i{
	margin-top:10px;
}

.contact.noMarr input{
  	margin-right: 0px;
}

.contact textarea{
	  background: #fff;
	  color: #000;
	  border: solid 1px #ddd;
	  padding: 15px 30px;
	  margin-bottom: 40px;
	  outline: none;
	  height: 150px;
} 
.contact .submit {
	  background: #F69745; 
	  color: #fff;
	  font-size: 16px;
	  font-weight: 400;
	  text-align: center;
	  margin: 0px;
	  border: none !important;
	  border-radius: 0;
	  float: left; 
	  padding: 15px 30px;
}
.contact .submit:hover {
 	background: #81C402;
}

.done {
  	display: none;
}

.error input,input.error,.error textarea,textarea.error {
	  background-color: #ffffff;
	  border: 1px solid red !Important;
	  -webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
	  -moz-transition: border linear 0.2s,box-shadow linear 0.2s;
	  -o-transition: border linear 0.2s,box-shadow linear 0.2s;
	  transition: border linear 0.2s,box-shadow linear 0.2s;
}


/*Footer*/
footer{
background:#f9d1cc;
}
footer ul.link-list li a{
	color:#000;
}
footer ul.link-list li a:hover {
	color:#eee;
}

.widgetheading {
	width:100%;

	padding:0;
}

#bottom .widgetheading {
	position: relative;
	border-bottom: #e6e6e6 1px solid;
	padding-bottom: 9px;
}

aside .widgetheading {
	position: relative;
	border-bottom: #e9e9e9 1px solid;
	padding-bottom: 9px;
}

footer .widgetheading {
	position: relative;
}

footer .widget .social-network {
	position:relative;
}


#bottom .widget .widgetheading span, aside .widget .widgetheading span, footer .widget .widgetheading span {	
	position: absolute;
	width: 60px;
	height: 1px;
	bottom: -1px;
	right:0;

}
.box-area{
	padding: 0 0;
	padding-top: 16px;
	padding: 10px 15px;
	background: #EDEDED;
	text-align: left;
}

ul.general {
	list-style:none;
	margin-left:0;
}

ul.link-list{
	margin:0;
	padding:0;
	list-style:none;
}

ul.link-list li{
	margin:0;
	padding:2px 0 2px 0;
	list-style:none;
}

footer{
	padding:50px 0 0 0;
	color:#000;
	background: #f9d1cc;
}

footer a {
	color:#000;
}

footer a:hover {
	color:#eee;
}

footer h1, footer h2, footer h3, footer h4, footer h5, footer h6{
	color:#000;
}

footer address {
	line-height:1.6em;
}

footer h5 a:hover, footer a:hover {
	text-decoration:none;
}

ul.social-network {
	list-style:none;
	margin:0;
}

ul.social-network li {
	display:inline;
	margin: 0 5px;
}

#sub-footer{
	text-shadow:none;
	color:#fff;
	padding:0;
	padding-top:30px;
	margin:20px 0 0 0;
	background: #e30000;
}

#sub-footer p{
	margin:0;
	padding:0;
}

#sub-footer span{
	color:#fff;
}

.copyright {
	text-align:left;
	font-size:12px;
}

#sub-footer ul.social-network {
	float:right;
}

#sub-footer a{
	color:#fff;
}
@media (max-width: 992px) {
	
	.navbar.brunes{
		background:#b14147;
		padding:0;
	}

	.menu-brunes .navbar-header {
        float: none;
    }
    .menu-brunes .navbar-left,.menu-brunes .navbar-right {
        float: none !important;
    }
    .menu-brunes .navbar-toggle {
        display: block;
    }
    .menu-brunes .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .menu-brunes .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .menu-brunes .navbar-collapse.collapse {
        display: none!important;
    }
    .menu-brunes .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.menu-brunes .navbar-nav>li {
        float: none;
    }
    .menu-brunes .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .menu-brunes .collapse.in{
  		display:block !important;
	}
	
	.menu-brunes{
		position:relative;
		top:0px;
	}
	
	.flexslider {
		position: static; 
		zoom: 1;
		margin-top:-20px;
	}
	
	section#welcome{
		margin-top:0;
	}
	
	div.welcomeContent .brunes{
		position:relative;
	}
		
	div.welcomeContent .brunes img{
		max-width:250px;
		width:50%;
	}
	
	div.welcomeContent .text{
		text-align:center;
	}
	
	footer .widget form  input#appendedInputButton {
		  display: block;
		  width: 91%;
		  -webkit-border-radius: 4px 4px 4px 4px;
			 -moz-border-radius: 4px 4px 4px 4px;
				  border-radius: 4px 4px 4px 4px;
	}
	
	footer .widget form  .input-append .btn {
		  display: block;
		  width: 100%;
		  padding-right: 0;
		  padding-left: 0;
		  -webkit-box-sizing: border-box;
			 -moz-box-sizing: border-box;
				  box-sizing: border-box;
				  margin-top:10px;
	}
}

@media (max-width: 767px) {
	.flexslider .slide-caption {
		width: 90%; 
		padding: 2%; 
		position: absolute; 
		left: 0; 
		bottom: -40px; 
	}
	footer .col-lg-1, footer .col-lg-2, footer .col-lg-3, footer .col-lg-4, footer .col-lg-5, footer .col-lg-6, 
	footer .col-lg-7, footer .col-lg-8, footer .col-lg-9, footer .col-lg-10, footer .col-lg-11, footer .col-lg-12{
		margin-bottom:20px;
	}

	#sub-footer ul.social-network {
		float:left;
	}
}

@media (max-width: 480px) {
	.flexslider .flex-caption {
		display:none;
	}

}


