*{ 
	margin: 0; 
	padding: 0;
}

body {
	margin: 0px;
	padding:0px;
	font-family: "Tahoma", verdana,helvetica,sans-serif;
	font-size: 12px;
	border: 0;
}

img{
	border: 0;
}

a{
	text-decoration: none;
	color: #000000;
}

ul { list-style: none; }

#topo{
	width:100%;
	height:130px;
}

#bem_vindo, #livre{
	width:100%;
	height:20px;
	background:#707070;
	color:#fff;
	line-height:20px;
}

#faixa_menu{
	height:50px;
	width:100%;
	background:#f0f0f0;
}

#logout{
	position:absolute;
	top:20px;
	right:0;
}

#titulos{
	width:100%;
	height:25px;
	background:#6bbdfa;
	font-size:18px;
	font-weight:bold;
	line-height:25px;
	color:#fff;
}

#menu{
	background:#fff;
	width:100%;
	height:30px;
}


.azul{
	color:#6bbdfa;
}

.bold{
	font-weight:bold;
}

.login{
	width: 440px;
	height: 270px;
	background:url(../../imagens/conteudo.jpg) no-repeat;
	margin:auto;
}


.menu_item{
	display: table;
	width: 100%;
	font-weight: bold;
	font-size: 13px;
	color: #666666;
}

.lista_tit{
	font-weight: bold;
	font-size: 11px;
	color: #666666;
}

.lista_det{
	width: 100px;
	float: left;
	font-weight: bold;
	font-size: 11px;
	color: #666666;
}

.menu{
	color: #999999;
	font-size: 11px;
	font-weight: normal;
}

#rodape{
	width: 100%;
	float: left;
	display: table;
	margin-top: 10px;
}

.left{
	float: left;
}

.right{
	float: right;
}

.centro { 
	text-align: center; 
}

.exibe_erro{
	margin-bottom: 10px;
	color: #FF0000; 
	text-align: center; 
	font-weight: bold; 
}

.exibe_item{
	border: #999 1px solid;
	border-bottom: #ccc 2px solid;
	border-right: #ccc 2px solid;
	margin-top: 1px;
	padding: 2px;
	background: #fff;
}


.tit_acesso{
	font-weight:bold;
	color:#F00000;
}

.acesso_rapido:hover .tit_acesso{
	color:#000;
}

.erro{
	background: url(../../imagens/alert.png) no-repeat 10px center  #febabb;
	border:2px solid #ec8737;
	padding:5px 10px 5px 30px;
	margin:2px 0;
	display:none;
	height:15px;
	line-height:15px;
	color:#000;
	font-weight:bold;
	font-family: 'GILSANS';
}

.retorno{
	background: url(../../imagens/success.png) no-repeat 10px center  #c9ffd1;
	border:2px solid #00e620;
	padding:5px 10px 5px 30px;
	margin:2px 0;
	display:none;
	height:15px;
	line-height:15px;
	color:#000;
	font-weight:bold;
	font-family: 'GILSANS';
}

.recados{
	display:none;
	position:absolute;
	width:300px;
	background:#FFC;
	text-align:justify;
	margin-left:-100px;	
	padding:10px;
	border:1px solid #FF9;
}

/*Stilos para formularios*/
input {
	border:1px solid #999999;
	font-size: 12px;
	padding: 1px;
	margin-top: 3px;
}

select {
	border:1px solid #999999;
	font-size: 12px;
	margin-top: 3px;
}

textarea{
	font-family: verdana,helvetica,sans-serif;
	font-size: 12px;
	margin-top: 3px;
}

/*Formatações dados tabulares*/
.bts{
	background:url(../../imagens/fundo_bts.png) no-repeat center;
	width: 80px;
	height: 30px;
	border: 0;
	color:#FFF;
	font-weight:bold;
}

.cel_tabela{
	padding: 2px;
	border: 1px solid #dedede;
	vertical-align: top;
	border-spacing: 0px;
}

.tabela{
	padding: 2px;
	border: 1px solid #dedede;
	vertical-align: middle;
	border-spacing: 0px;
}

/*Inicio pop-up*/
#fade {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
.popup_block{
	display: none;
	background: #fff;
	padding: 50px 10px; 	
	border: 20px solid #fff;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
img.btn_close {
	float: right; 
	margin: -85px -45px 0 0;
}
.popup p {
	padding: 5px 10px;
	margin: 5px 0;
}
/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
	position: absolute;
}
*html .popup_block {
	position: absolute;
}
/*Termino pop-up*/

/* menu */
.sf-menu {display:inline-block; float:left;}
.sf-menu ul {position:absolute; top:-999px; display:none;}
.sf-menu li {position:relative; float:left; }
.sf-menu a {text-decoration:none;}
.sf-menu li:hover ul,.sf-menu li.sfHover ul {z-index:99}
ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul {top:-999px; display:none;}
ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul {left:100%; top:0;}

ul.sf-menu>li { text-align:center; display:inline-block; border-left:#e0e0e0 1px solid; padding:0 20px;}
ul.sf-menu>li:hover{
	background:#47a3e2;
}
ul.sf-menu>li:first-child {border:none;}
ul.sf-menu>li:first-child a {padding-left:0 !important;}
ul.sf-menu>li>a {font-size:12px; line-height:30px; color:#000; font-weight:bold; display:block; position:relative; padding:0px 0px;}
ul.sf-menu>li.current , ul.sf-menu>li.sfHover , ul.sf-menu>li:hover {background:#47a3e2;}
ul.sf-menu>li.current , ul.sf-menu>li.sfHover , ul.sf-menu>li:hover a{ color:#fff;}
ul.sf-menu>li.current>a, ul.sf-menu>li.sfHover>a, ul.sf-menu>li>a:hover {color:#fff;}

ul.sf-menu>li>ul:after  {background:url(../../imagens/after-1.png) 0 0 no-repeat; display:block; width:16px; height:26px; position:absolute; top:-26px; left:0px; z-index:100; content:'';}
.sf-menu>li>ul { width:130px; background:#47a3e2; left:0px; top:45px; padding:10px 20px 9px 30px;}
.sf-menu>li>ul>li {display:block; width:100%; text-align:left; margin-bottom:3px;}
.sf-menu>li>ul>li>a { color:#fff; font-size:12px; font-weight:bold; line-height:22px; display:inline-block; }
.sf-menu>li>ul>li:hover, ul.sf-menu>li>ul>li.sfHover{}
.sf-menu>li>ul>li>a:hover, ul.sf-menu>li>ul>li.sfHover a { color:#eaeaea; }

ul.sf-menu>li li>ul:after  {background:url(../../imagens/after-2.png) 0 0 no-repeat; display:block; width:14px; height:9px; position:absolute; top:-1px; left:-14px; z-index:100; content:'';}
.sf-menu>li li>ul { width:130px; background:#eaeaea; border:#d1d1d1 1px solid; left:166px !important; top:-10px !important; padding:10px 20px 9px 30px;}
.sf-menu>li li>ul>li {display:block;  width:100%; text-align:left; margin-bottom:3px;}
.sf-menu>li li>ul>li>a { color:#565656 !important; font-size:12px; font-weight:bold; line-height:22px; display:inline-block;}
.sf-menu>li li>ul>li:hover, ul.sf-menu>li li>ul>li.sfHover{}
.sf-menu>li li>ul>li>a:hover, ul.sf-menu>li li>ul>li.sfHover a { color:#47a3e2 !important;}

